

.navbar-main {
    display: flex;
    align-items: center;
}

.navbar-logo {
    margin-left: 1em;
    margin-top: 1em;
    width: 10rem;
    height: 10rem;
    background-image: url("./Logo_Black_Transparent.png");
    background-size: cover;
}

.navbar-logo img {
    max-width: inherit; 
}

.navbar-links {
    display: flex;
    margin-left: auto;
}

.navbar-links ul {
    display: flex;
    list-style: none;
    
}

.navbar-links li {
    margin-right: 35px;
    text-decoration: none;
    color: darkslategrey;
    
}

.navbar-menu a {
    text-decoration: none;
}


.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

@media only screen and (max-width: 768px) {
    .navbar-menu {
        position: fixed;
        left: -120%;
        top: 5rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .navbar-menu.active {
        left: 0;
    }

    .navbar-menu li { 
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

}

